<h1>Seja Bem-Vindo!</h1>
<p>
  Edward Moreira
</p>
<p> <strong>Data: </strong><%= br_date(Date.today) %> </p>
<p> Estamos utilizando o ambiente de <strong><%= ambiente_rails %></strong> do rails </p>
<p> Eu sou uma variável de instância/sessão <%= @nome %> </p>
<%= render("menu")%>
<!--
<p> Usando Ruby e sua soma é: <%= 1 + 1 %> </p>
<p> Seu nome de trás para frente é: <%= 'Edward'.reverse %> </p>
#utilizando o '=' no '%=' ele ira mostrar na tela, se não utilizarmos ele fará mas não irá mostrar
<% ax = 'então está é variável é AX'%>
<p> Imprimindo minha variável ax: <%= ax %> </p>
<p> A data de hoje é: <%= Date.today %> </p>

http://localhost:3000/rails/info/routes - Todas as rotas do app
-->

